<table class="table">
  <thead>
    <tr>
      <th
        *ngFor="let head of allHeader"
        class="text-capitalize text-nowrap"
        [attr.role]="filterHeaders.includes(head.key) ? 'button' : 'text'"
        [hidden]="!displayHeader.includes(head.key)"
      >
        <div *ngIf="head.label" class="f-flex">
          <span class="me-2">{{ head.label }}</span>
          <i
            *ngIf="filterHeaders.includes(head.key)"
            class="fa-solid fa-sort"
          ></i>
        </div>

        <div
          *ngIf="head.key === allKeys.checkbox"
          class="d-flex align-items-center justify-content-center"
        >
          <input
            class="form-check-input pa-checkbox"
            type="checkbox"
            value=""
          />
        </div>
      </th>
    </tr>
  </thead>

  <tbody *ngIf="displayData.length">
    <tr *ngFor="let data of displayData">
      <td *ngIf="displayHeader.includes(allKeys.checkbox)">
        <div class="d-flex align-items-center justify-content-center">
          <input
            class="form-check-input pa-checkbox"
            type="checkbox"
            value=""
          />
        </div>
      </td>
      <td *ngIf="displayHeader.includes(allKeys.code)">
        <a href="#" class="link-underline-primary"> PA16189 </a>
      </td>
      <td *ngIf="displayHeader.includes(allKeys.name)" class="text-capitalize">
        vendor nithish
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.panNumber)"
        class="text-capitalize"
      >
        BEA8292899HG
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.gstNumber)"
        class="text-capitalize"
      >
        122447193798
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.creditTerms)"
        class="text-capitalize"
      >
        10
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.limitDays)"
        class="text-capitalize"
      >
        20
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.viewSummary)"
        class="text-capitalize"
      >
        20
      </td>
      <td *ngIf="displayHeader.includes(allKeys.edit)" class="text-capitalize">
        <!-- <app-edit-icon></app-edit-icon> -->
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.toggleButton)"
        class="text-capitalize"
      >
        20
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.organizationType)"
        class="text-capitalize"
      >
        Government Entity
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.classification)"
        class="text-capitalize"
      >
        active regular
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.headerName)"
        class="text-capitalize"
      >
        j sai venkatesh
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.requestType)"
        class="text-capitalize"
      >
        renewal
      </td>
      <td
        *ngIf="displayHeader.includes(allKeys.requestStatus)"
        class="text-capitalize"
      >
        approved
      </td>
      <td *ngIf="displayHeader.includes(allKeys.vendorStatus)">
        <span
          role="button"
          class="badge rounded-pill fw-normal py-2 px-3"
          [ngClass]="{
            'ba-status-green': true,
            'ba-status-blue': false,
            'ba-status-yellow': false,
            'ba-status-red': false
          }"
        >
          approved
        </span>
      </td>
      <td *ngIf="displayHeader.includes(allKeys.status)">
        <span
          role="button"
          class="badge rounded-pill fw-normal py-2 px-3"
          [ngClass]="{
            'ba-status-green': true,
            'ba-status-blue': false,
            'ba-status-yellow': false,
            'ba-status-red': false
          }"
        >
          active
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!displayData.length" class="w-100 text-capitalize text-center">
  no data found
</div>
